* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

#main {
    width: 640px;
    height: 960px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}

.slide li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide li:nth-child(1) {
    background: url(../images/dolphin.png) no-repeat;
}

.slide li:nth-child(2) {
    background: url(../images/bg.jpg) no-repeat;
}

.slide li:nth-child(3) {
    background: url(../images/boat.jpg) no-repeat;
}

.slide li:nth-child(4) {
    background: url(../images/balloon.jpg) no-repeat;
}

.zIndex {
    z-index: 111;
}

.circling, .circling2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 60%;
}

.circling {
    top: 75%;
    left: 35%;
}

.circling2 {
    top: 10%;
    left: 10%;
}

.a1 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10%;
    font-size: 50px;
}

.zIndex .title {
    position: absolute;
    top: 130px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 210px;
    background-image: url("../images/header.png");
    background-size: 100% 100%;
}

.introduce {

    position: absolute;
    bottom: 200px;
    width: 100%;
}

.introduce p {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
}

.a1 p {
    color: #fff;
    line-height: 30px;
    font-size: 80px;
    -webkit-transform: translate(600px, 0);
}

#a1 p {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s
}

.school {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 70px;
    text-align: center;
    color: #03A9F4;
}
.a2{
    margin-top: 60%;
}
.a2 p {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
    color: #03A9F4;
    font-weight: bold;
}

.a2 p:nth-child(odd) {
    -webkit-transform: scale(0);
    transform:scale(0);
}

.a2 p:nth-child(even) {
    -webkit-transform:scale(0)  ;
    transform:scale(0);
}

#a2 p {
    -webkit-transform: scale(1);
    -webkit-transition: 1s;
    transform-origin: center;
}

.a3, .letter1, .letter2 {
    width: 400px;
  /*  height: 220px;*/
    position: absolute;
    left: 60%;
    margin-left: -230px;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    background: rgb(33, 150, 243);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

.a3 {
    top: 20%;
}

.letter1 {
    top: 45%;
   }

.letter2 {
    top:68%;
}
#a3 {
    -webkit-transform: rotateX(720deg);
    -webkit-transition: 1s;
}
#a3 .letter1{
    -webkit-transform: translate(0,0);
}
#a3 .letter2{
    -webkit-transform: translate(0,0);

}

.footLeft {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.footRight {
    width: 100px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 40px;
    transform: rotate(25deg);
}

.a3Line {
    height: 80%;
    border: 2px solid #fff;
    float: left;
    margin-left: 95px;
    margin-top: 155px;
}
.a3List div{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    left: 70px;
}
.a3List div:nth-child(1){
    top: 285px;
}
.a3List div:nth-child(2){
    top: 510px;
}
.a3List div:nth-child(3){
    top: 720px;
}

.a3ListSpan{
    position: relative;
    top: -10px;
    left: -10px;
    display: block;
    width: 65px;
    height: 65px;
    border:3px solid #fff;
    border-radius: 50%;
    animation:touchMove 1s ease-out infinite;
    -webkit-animation:move 1s ease-out infinite;
    z-index: -1;
}
@keyframes move {
    0%{
        -webkit-transform: scale(0.5);
    }
    100%{
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: scale(0.5);
    }
    100%{
        -webkit-transform: scale(1);
    }
}



.a4{
    position: absolute;
    top: 50%;
    left: 10%;
    box-shadow: 3px 3px 3px 0 #ccc ;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 10px;
}

.a4 p {
    word-wrap: break-word;
    overflow: hidden;
    color: #000;
    font-size: 35px;
    width: 500px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    -webkit-transform: scale(0.1) skew(30deg, 0deg);
    -webkit-transform-origin: right;
}


#a4 p {
    -webkit-transform: scale(1);
    -webkit-transform-origin: center;
    -webkit-transition: 1s;
}

